/*Portfolio pages formatting*/

#container .ui-state-focus {
  outline: none;
}

.dropdownBox .ui-state-focus {
  outline: none;
}

  .portfoliopage {
    font: small-caps 50px 'Lato', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 50px;
	margin-top: 0px;
	position: relative;
	top: 100px;
	color: black;
	cursor: pointer;
    background-color: lightgray;
	border-radius: 10px;
    text-align:center;
    padding-top: 10px;
    padding-bottom:10px;
  }

body {
  margin: 0 auto;
  padding: 0;
 }

.thumbnail {
  display: flex;
  width: 33.333%;
  float: left;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: 0px;
}

.img-responsive {
  width: 260px;
  height: 220px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px #666;
}

a .img-responsive:hover {
  opacity: .6;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .3s linear;
  -webkit-box-shadow: 0px 0px 30px 0px #666;
  -moz-box-shadow: 0px 0px 30px 0px #666;
  box-shadow: 0px 0px 2px 0px #666;
}

.rotate1 {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  padding-right: 10px;
}

.rotate2 {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  padding-right: 10px;
}

.rotate1.down {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate2.down {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.container{
	margin: 0 auto;
	width: 1000px;
}

/*navigation*/
 
.menu {
  list-style:none;
  padding:0;
  text-align:center;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: white;
  margin:0;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: lightgray;
}

.link {
  display:inline-block;
  width:25%;
  position:relative;
  float: right;
}

.linkName {
  padding:10px;
  text-decoration:none;
  color:black;
  display:block;
  cursor:pointer;
  font: small-caps 21px 'Lato', sans-serif;
  letter-spacing: 1px;
}

.linkName:hover {
  background-color:lightgray;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.submenu {
  width:99.5%;
  padding:0;
  list-style:none;
  border-left:1px solid lightgray;
  border-right:1px solid lightgray;
  border-bottom:1px solid lightgray;
  border-radius: 0px 0px 10px 10px;
  text-align:left;
  display:none;
  position:absolute;
  background-color:white;
}

.sublink {
  cursor:pointer;
  padding: 10px;
  letter-spacing: 1px;
  font: 17px 'Lato', sans-serif;
}

.sublink:hover {
  background-color:lightgray;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear; 
}

.name li{
  float: left;
  text-align: center;
  color: #383839;
  width: 20%;
}

.nameHomepage li{
  float: left;
  text-align: center;
  color: #383839;
  width: 20%;
}

.nameHomepage li a:hover{
  color: #666;
  background-color: white;
  opacity: 1;
}

.name li a:hover{
  color: black;
  background-color: lightgray;
  opacity: 1;
}

a{
  color: black;
  text-decoration: none;
}

a:selected{
  border: 0px;
}

.permahover{
  background-color: lightgray;
}

/*Home Page Formatting*/

h1 {
  font: small-caps 44px 'Lato', sans-serif;
  letter-spacing: 3px;
  width: 100%;
}

#circle {
  width: 300px;
  height: 300px;
  background: linear-gradient(#383839, transparent 20%), linear-gradient(0deg, #383839, transparent 20%), url("http://i666.photobucket.com/albums/vv28/jordanebranch/9aa7e7bf-fe54-425b-9f36-fa1e432b6e1a_zpsdepnweeg.jpg");
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  border: 5px solid lightgray;
  display: inline-block;
  margin: 0 auto;
  margin-top: 80px;
}

.about {
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  float: right;
  margin: 60px;
}

.about p{
  font: 20px 'Lato', sans-serif;
  line-height: 40px;
  margin-left: 10px;
  width: 100%
}

a{
  text-decoration: none;
  color: black;
}

section{
  margin: 0 auto;
}

/*Home Page Contact Bar*/

#contact-bar{
  background-color: lightgray;
  height: 60px;
  width: 100%;
  padding-top: 15px;
  margin-top: 75px;
  position: fixed;
  bottom: 0px;
}

#contact-bar li ul{
  position: relative;
  display: inline-block;
  float: right;
  width: 60px;
  margin: 0px;
  padding: 0px;
}

#contact-bar .pdfFloat{
  position: relative;
  left: 120px;
  display: inline-block;
  float: left;
  width: 40px;
  margin: 0px;
  padding: 0px;
  
}

.contactEmoji{
  font-size: 40px;
  color: #393939;
}

.contactEmoji:hover {
  color: white;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

li{
 list-style-type: none;
}

button:focus {
  outline:0;
}

button{
  height: 50px;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  float:right;
  color: lightgray;
  background-color: #393939;
  font: small-caps 20px 'Lato', sans-serif;
}

button:hover{
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  background-color: white;
  color: #393939;
  cursor: pointer;
}

/*resume format*/

 .transitionBanner {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background: linear-gradient(#383839, transparent 20%), linear-gradient(0deg, #383839, transparent 20%), url("http://i666.photobucket.com/albums/vv28/jordanebranch/eaf9d586-6ad1-41e2-a565-918d341e738e_zpshjjmesce.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
 }

 .transitionBanner2 {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background: linear-gradient(#383839, transparent 20%), linear-gradient(0deg, #383839, transparent 20%), url("http://i666.photobucket.com/albums/vv28/jordanebranch/coding_zpscqflavxj.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
 }

 .transitionBanner3 {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background: linear-gradient(#383839, transparent 30%), linear-gradient(0deg, #383839, transparent 30%), url("http://i666.photobucket.com/albums/vv28/jordanebranch/New%20York_zpsdzw2ug7e.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
 }

.resumeheader{
	margin: 0 auto;
	margin-bottom: 0px;
	color: lightgray;
	background-color: #393939;
	padding-top: 80px;
	padding-bottom: 30px;
	text-align: center;
	font: small-caps 100px 'Lato', sans-serif;
}

 h2 {
  padding: 15px;
  padding-top: 30px;
  margin: 0;
  font-size: 50px;
  font: small-caps 55px 'Lato', sans-serif;
 }

 h3 {
  margin-left: 0px;
  margin-top: 10px;
  font-size: 20px;
  background-color: lightgray;
  padding: 10px;
  letter-spacing: 1px;
  font: 30px 'Lato', sans-serif;
 }

 h4 {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  border: solid;
  border-width: 0px 0px 1px 0px;
  padding-bottom: 8px;
  width: 30%;
  font: 20px 'Lato', sans-serif;
 }

 .bullets li{
  list-style-type: none;
  line-height: 22px;
  font: 18px 'Lato', sans-serif;
 }

 .border{
  border: solid;
  border-width: 0px 0px 1px 0px;
  padding-bottom: 5px;
  width: 400px;
 }

 .paddingDate {
  line-height: 30px;
  font-size: 15px;
  font-style: italic;
 }


/*Contact Bar on Resume Page*/

#contact-bar-resume{
  bottom: 0px;
  background-color: lightgray;
  height: 60px;
  width: 100%;
  padding-top: 15px;
  margin-top: 35px;
}

#contact-bar-resume .pdfFloat{
  display: inline-block;
  float: left;
  width: 40px;
  margin: 0px;
  padding: 0px;
  margin-left: 11vw;
  
}

#contact-bar-resume li ul{
  display: inline-block;
  float: right;
  width: 60px;
  margin: 0px;
  padding: 0px;
}
 
/*Resume Tech Skills graphs*/
 
.skillheader{
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
  font: small-caps 30px 'Lato', sans-serif;
  background-color: white;
  color: black;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skillName p{
  text-align: right;
  font: small-caps 18px 'Lato', sans-serif;
}

.skillName{
  width: 31%;
  display: inline-block;
  border: solid #666;
  border-width: 1px 1px 0px 0px;
  margin: 10px;
}

.html{
  height: 30px;
  width: 25vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.css{
  height: 30px;
  width: 25vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.javascript{
  height: 30px;
  width: 18vw;
  background-color: lightgray;
  border: 1px solid #666;
  padding-bottom: 10px;
  padding-right: 5px;
}

.illustrator{
  height: 30px;
  width: 25vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.indesign{
  height: 30px;
  width: 23vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.photoshop{
  height: 30px;
  width: 14vw;
  background-color: lightgray;
  border: 1px solid #666;
  padding-bottom: 10px;
  padding-right: 5px;
}

.tableau{
  height: 30px;
  width: 25vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.excel{
  height: 30px;
  width: 10vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.d3{
  height: 30px;
  width: 6vw;
  background-color: lightgray;
  border: 1px solid #666;
  padding-bottom: 10px;
  padding-right: 5px;
}

/*Portfolio landing page*/

#circle2 {
  width: 36vw;
  height: 36vw;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/new_year_background.png");
  -moz-border-radius: 18vw;
  -webkit-border-radius: 18vw;
  border-radius: 18vw;
  display: inline-block;
  box-shadow: 0px 0px 5px 0px #393939;
  margin-top: 90px;
}

#circle2:hover {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png");
  color: white;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.shortText {
  position: relative;
  font: small-caps 5vw 'Lato', sans-serif;
  top: 10vw;
  text-align: center;
}

.longText {
  position: relative;
  font: small-caps 5vw 'Lato', sans-serif;
  top: 6vw;
  text-align: center;
}

.flex a{
	color: #393939;
}

.flex {
  display: inline-block;
  text-wrap: none;
  padding: 0;
  margin: 0 auto;
  float: left;
  width: 50%;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

 .unpublishedh1, .publishedh1 {
    font: small-caps 50px 'Lato', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 50px;
	margin-top: 0px;
	position: relative;
	top: 100px;
    left: 0px;
	color: #393939;
	cursor: pointer;
	border: 1px solid lightgray;
	border-radius: 10px;
    padding-top: 10px;
    padding-bottom:10px;
  }

  .unpublishedh1:hover, .publishedh1:hover{
    color: #393939; 
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    border: solid lightgray;
  }
  
  /*Media Queries*/
  
  @media(max-width: 1000px){

  body{
    margin: 0 auto;
  }
  
.container{
	width: 100%;
	margin: 0 auto;
    text-align: center;
}

h1 {
  font: small-caps 33px 'Lato', sans-serif;
  text-align: center;
  line-height: 50px;
}

.about {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.about p{
  font: 20px 'Lato', sans-serif;
  line-height: 28px;
  width: 100%;
  text-align: center;
  margin: 0;
}

button{
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background-color: #393939;
  color: lightgray;
  font: small-caps 20px 'Lato', sans-serif;
}

#contact-bar{
  background-color: lightgray;
  height: 60px;
  width: 100%;
  position: relative;
  margin-top: 300px;
}

#circle {
    width: 300px;
  height: 300px;
  background: linear-gradient(#383839, transparent 20%), linear-gradient(0deg, #383839, transparent 20%), url("http://i666.photobucket.com/albums/vv28/jordanebranch/9aa7e7bf-fe54-425b-9f36-fa1e432b6e1a_zpsdepnweeg.jpg");
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  border: 5px solid lightgray;
  display: inline-block;
  margin: 0 auto;
  margin-top: 80px;
}

.contactEmoji{
  font-size: 35px;
  color: #393939;
}

#contact-bar li ul{
  display: inline-block;
  float: right;
  width: 40px;
  margin: 0px;
  padding: 0px;
}

#contact-bar .pdfFloat{
  display: inline-block;
  float: left;
  width: 40px;
  margin: 0px;
  padding: 0px;
}

.link {
  display:inline-block;
  width:150px;
  position:relative;
  float: right;
}

.name li a{
  float: left;
  text-align: center;
  color: #383839;
  width: 150px;
}

.nameHomepage li{
  float: left;
  text-align: center;
  color: #383839;
  width: 180px;
}
  }
  
@media(max-width: 950px) {
  .skillName{
  width: 96%;
  display: inline-block;
  border: solid #666;
  border-width: 1px 1px 0px 0px;
  margin: 10px;
}
  .html{
  height: 30px;
  width: 89vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.css{
  height: 30px;
  width: 89vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.javascript{
  height: 30px;
  width: 60vw;
  background-color: lightgray;
  border: 1px solid #666;
  padding-bottom: 10px;
  padding-right: 5px;
}

.illustrator{
  height: 30px;
  width: 89vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.indesign{
  height: 30px;
  width: 83vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.photoshop{
  height: 30px;
  width: 35vw;
  background-color: lightgray;
  border: 1px solid #666;
  padding-bottom: 10px;
  padding-right: 5px;
}

.tableau{
  height: 30px;
  width: 89vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.excel{
  height: 30px;
  width: 35vw;
  background-color: lightgray;
  border: 1px solid #666;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.d3{
  height: 30px;
  width: 15vw;
  background-color: lightgray;
  border: 1px solid #666;
  padding-bottom: 10px;
  padding-right: 5px;
}
}

  @media(max-width: 496px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  #circle2 {
    width: 200px;
    height: 200px;
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/new_year_background.png");
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	margin: 0 auto;
  }
  .shortText {
    position: relative;
    font: small-caps 29px 'Lato', sans-serif;
  }
  .longText {
    position: relative;
    font: small-caps 29px 'Lato', sans-serif;
  }
}

@media(max-width: 910px) {
  .thumbnail {
    display: flex;
    width: 45%;
    float: left;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 0px;
  }
}

@media(max-width: 610px) {
  .thumbnail {
    display: flex;
    width: 100%;
    float: left;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 0px;
  }
  #resume{
    display:none;
  }
   .border{
  border: solid;
  border-width: 0px 0px 1px 0px;
  padding-bottom: 5px;
  width: 250px;
 }
}