body {
  margin: 0 auto;
  padding: 0;
}

span {
  color: red;
}

a{
  text-decoration: none;
}

#container .ui-state-focus {
  outline: none;
}

#unpublished-box .ui-state-focus {
  outline: none;
}

#container{
 height:auto;
    overflow:auto;
  background-color: lightgray;
  padding-bottom: 30px;
}

.dropdownBox .ui-state-focus {
  outline: none;
}
.banner-text-wrap{
  max-width: 900px;
  max-height: 500px;
}
/*nav*/
nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);
  z-index: 150;
}

.menu {
  width: 900px;
  margin: 0 auto;
}

nav ul a li {
  display: block;
  text-decoration: none;
  color: #E8E8E8;
  margin: 0px 0px;
  font: 25px 'Lato', sans-serif;
  letter-spacing: 1px;
  padding-top: 15px;
  position: relative;
  display: inline-block;
  float: right;
  width: 150px;
  padding-bottom: 15px;
}

nav ul a li:hover {
  color: red;
  -webkit-box-shadow: inset 0px 0px 5px 0px red;
  -moz-box-shadow: inset 0px 0px 5px 0px red;
  box-shadow: 0px 5px 0px red;
}

nav ul li {
  display: block;
  text-decoration: none;
  color: #E8E8E8;
  margin: 0px 0px;
  font: 25px 'Lato', sans-serif;
  letter-spacing: 1px;
  padding-top: 10px;
  position: relative;
  float: right;
  width: 150px;
  position: relative;
}

.nameHomepage li {
  float: left;
  text-align: center;
  width: 190px;
}

a{
  padding-bottom: 5px;
}

/*desktop nav dropdown*/

.dropdown-toggle{
  display: block;
  text-decoration: none;
  color: #E8E8E8;
  font: 25px 'Lato', sans-serif;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  float: right;
  width: 150px;
  padding-bottom: 15px;
  padding-top: 5px;
}

.dropdown-toggle:hover{
  color: red;
  -webkit-box-shadow: 0px 0px 5px 0px red;
  -moz-box-shadow: 0px 0px 5px 0px red;
  box-shadow: 0px 5px 0px red;
  cursor: pointer;
}

.dropdown-content{
    position: absolute;
	top: 65px;
	background-color: rgba(0, 0, 0, .6);
	width: 150px;
    padding-bottom: 10px;
}

.sublink{
  text-align: center;
  padding: 10px;
}

.sublink:hover{
  color:red;
  box-shadow: none;
  }
  
/*mobile nav*/
#accordion {
  margin: 0 auto;
  margin-top: 0;
  width: 100%;
  position: fixed;
  z-index: 150;
  background-color: rgba(0, 0, 0, .6);
}

.accordion-toggle {
  font: 25px 'Lato', sans-serif;
  padding: 20px;
  margin: 0;
  color: white;
  cursor: pointer;
}

.accordion-toggle:hover{
  color:red;
}

#accordion li:hover{
  color: red;
}

#accordion li {
  font: 25px 'Lato', sans-serif;
  padding: 5px;
  margin: 0;
  color: white;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}

#accordion a li {
  text-decoration: none;
  list-style-type: none;
}

.accordion-content{
  padding-bottom: 10px;
}
.accordion-content a {
  text-decoration: none;
  color: white;
}

.accordion-content a:hover {
  color: red;
}

.fa.fa-bars {
  padding-right: 10px;
}

.fa.fa-chevron-down{
  position: absolute;
  top:75%;
  left: 50%;
  font-size: 40px;
  color: white;
}

.fa.fa-chevron-down:hover{
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 40px;
  color: red;
  z-index: 100;
}

/*Content starts*/
.banner {
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("http://i666.photobucket.com/albums/vv28/jordanebranch/bridge_zps14koymf3.jpeg");
  background-size: cover;
  background-position: center;
}

.banner h1 {
  z-index: 99;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font: 90px 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0,0,0,.6);
}

/*about section*/
#about h1 {
  font: 50px 'Lato', sans-serif;
  text-align: center;
  padding-top: 80px;
}

#about p {
  font: 20px 'Lato', sans-serif;
  text-align: center;
  padding: 10px;
  width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.button {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font: 30px 'Lato', sans-serif;
  color: black;
  max-width: 210px;
  padding: 8px;
  margin-bottom: 80px;
  border: solid red;
}

.button:hover {
  background-color: red;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  color: white;
}

/*work section*/
#work {
  background-color: #666;
  width: 100%;
  height: 500px;
}

#work h1 {
  font: 50px 'Lato', sans-serif;
  text-align: center;
  padding-top: 80px;
  color: white;
}

.work-text-wrap {
  width: 900px;
  margin: 0 auto;
}

h2 {
  font: 20px 'Lato', sans-serif;
}

.project-a img {
  width: 296px;
  height: 220px;
  display: inline-block;
  float: right;
}

.image-wrapa {
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  float: right;
}

.project-b img {
  width: 296px;
  height: 220px;
  display: inline-block;
  float: right;
}

.project-c img {
  width: 296px;
  height: 220px;
  display: inline-block;
  float: right;
}

.image-wrapb,
.image-wrapc {
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  float: right;
  margin-right: 6px;
}

img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1);
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.caption-wrap {
  margin: 0 auto;
  width: 900px;
}

.caption p {
  margin-top: 0;
  width: 297px;
  margin-right: 1px;
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-left: 2px;
  padding-bottom: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 20px 'Lato', sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

.caption .no-margin {
  margin-right: 0;
}


/*contact section*/

#contact {
  width: 100%;
  padding-bottom: 20px;
}

.contact-data{
  margin-top: 80px;
  background-color: lightgray;
  height: auto;
  overflow: auto;
}

#arrow a {
  position: fixed;
  float: right;
  width: 6%;
  right: 0px;
  bottom: 0px;
  font-size: 50px;
  color: black;
  z-index: 99;
}

#arrow a:hover {
  color: red;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

#contact ul {
  list-style-type: none;
  width: 205px;
  display: inline-block;
  float: left;
  padding-top: 40px;
}

li {
  padding: 5px;
}

#contact p {
  font: 30px 'Lato', sans-serif;
  text-align: center;
  width: 205px;
  display: inline-block;
  float: left;
  margin: 0 auto;
  padding-top: 35px;
  border-bottom: solid #666;
  border-width: 1px;
}

#contact li {
  font: 15px 'Lato', sans-serif;
  margin: 0 auto;
}

.contact-text-wrap {
  width: 900px;
  margin: 0 auto;
}

.fa.fa-linkedin-square,
.fa.fa-twitter-square,
.fa.fa-github-square {
  font-size: 30px;
  padding-right: 10px;
  color: red;
}

#contact a {
  text-decoration: none;
  color: black
}

#contact a:hover {
  text-decoration: none;
  color: red;
}

/*data visualization page*/

.portfoliopage {
  font: 70px 'Lato', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 50px;
  margin-top: 0px;
  position: relative;
  top: 100px;
  color: red;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  text-align:center;
  padding-top: 15px;
  padding-bottom:55px;
}
.thumbnail {
  display: flex;
  width: 33.333%;
  float: left;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: 0px;
}

.img-responsive {
  width: 260px;
  height: 220px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px white;
}

a .img-responsive:hover {
  -webkit-box-shadow: 0px 0px 2px 0px #666;
  -moz-box-shadow: 0px 0px 2px 0px #666;
  box-shadow: 0px 0px 2px 0px #666;
}

.rotate1 {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  padding-left: 20px;
  padding-right: 10px;
}

.rotate2 {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  padding-left: 20px;
  padding-right: 10px;
}

.rotate1.down {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate2.down {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa.fa-cog{
  color: red;
}
.container{
	margin: 0 auto;
	width: 900px;
    padding-bottom: 80px;
}

.container p{
  font: small-caps 90px 'Lato', sans-serif;
  text-align: center;
}

.unpublishedh1, .publishedh1 {
  font: small-caps 55px 'Lato', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 50px;
  margin-top: 0px;
  position: relative;
  top: 50px;
  left: 0px;
  color: #393939;
  cursor: pointer;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom:10px;
  text-align: left;
  -webkit-box-shadow:inset 0px 0px 0px 2px lightgray;
  -moz-box-shadow:inset 0px 0px 0px 2px lightgray;
  box-shadow:inset 0px 0px 0px 2px lightgray;
}

.unpublishedh1:hover, .publishedh1:hover{
  -webkit-box-shadow:inset 0px 0px 0px 2px red;
  -moz-box-shadow:inset 0px 0px 0px 2px red;
  box-shadow:inset 0px 0px 0px 2px red;
}

/*header adjustment*/
@media(max-width: 899px) {
  .banner h1 {
    font: 80px 'Lato', sans-serif;
    font-weight: 700;
	top: 15%;
  }
}

@media(min-height: 550px){
  .banner h1 {
    font: 90px 'Lato', sans-serif;
    font-weight: 700;
	top: 10%;
  }
  .fa.fa-chevron-down{
  position: absolute;
  top:55%;
  left: 50%;
  font-size: 40px;
  color: white;
}

.fa.fa-chevron-down:hover{
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: 40px;
  color: red;
  z-index: 100;
}
}

@media(min-height: 750px){
  .banner h1 {
    font: 90px 'Lato', sans-serif;
    font-weight: 700;
	top: 10%;
  }
  .fa.fa-chevron-down{
  position: absolute;
  top:45%;
  left: 50%;
  font-size: 40px;
  color: white;
}

.fa.fa-chevron-down:hover{
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 40px;
  color: red;
  z-index: 100;
}
}

@media(min-height: 920px){
  .banner h1 {
    font: 90px 'Lato', sans-serif;
    font-weight: 700;
	top: 10%;
  }
  .fa.fa-chevron-down{
  position: absolute;
  top:35%;
  left: 50%;
  font-size: 40px;
  color: white;
}

.fa.fa-chevron-down:hover{
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 40px;
  color: red;
  z-index: 100;
}
}

@media(min-height: 1070px){
  .banner h1 {
    font: 90px 'Lato', sans-serif;
    font-weight: 700;
	top: 20%;
  }
  .fa.fa-chevron-down{
  display: none;
}
}

/*nav change*/
@media(min-width: 682px) {
  #accordion {
    display: none;
  }
}

@media(max-width: 681px) {
  .accordion-toggle {
    display: block;
  }
  nav {
    display: none;
  }
}

/*responsive breakpoint*/
@media(max-width: 930px) {
  .unpublishedh1, .publishedh1 {
	  text-align: center;
	}
  .container{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  .menu {
    width: 100%;
  }
  ul {
    width: 100%;
    margin: 0 auto;
  }
  #about p {
    font: 20px 'Lato', sans-serif;
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  #work {
    height: 900px;
  }
  .project-a img {
    margin: 0 auto;
    height: 200px;
    display: inline-block;
    float: left;
  }
  .project-b img {
    height: 220px;
    display: inline-block;
    float: left;
  }
  .project-c img {
    height: 220px;
    display: inline-block;
    float: left;
  }
  .work-text-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .contact-text-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .about-text-wrap {
    width: 100%;
  }
  .nameHomepage{
    width: 150px;
    margin: 0;
  }
  nav ul a li{
    position: relative;
    display: inline-block;
    float: right;
    width: 150px;
    color: white;
  }
  nav ul li{
    position: relative;
    display: inline-block;
    float: right;
    width: 150px;
    color: white;
  }
  .contact li{
    padding-right: 50px;
  }
  .sublink{
	text-align: left;
  }
  #arrow a {
    display: none;
  }
  .caption {
    display: none;
  }
  .image-wrapa,
  .image-wrapb,
  .image-wrapc {
    margin: 0 auto;
    float: none;
    overflow: hidden;
    margin-bottom: 10px;
  }
  #contact ul {
    list-style-type: none;
    width: 205px;
    display: block;
    float: left;
    padding-top: 40px;
  }
}
 
 @media(max-width: 910px) {
    .thumbnail {
      display: flex;
      width: 45%;
      float: left;
      flex-wrap: wrap;
      margin-top: 90px;
      margin-bottom: 0px;
    }
  }

  @media(max-width: 610px) {
    .thumbnail {
      display: flex;
      width: 100%;
      float: left;
      flex-wrap: wrap;
      margin-top: 90px;
      margin-bottom: 0px;
    }
  
   .border{
      border: solid;
      border-width: 0px 0px 1px 0px;
      padding-bottom: 5px;
      width: 250px;
    }
  }
