h1 {
    color: #656;
    font-family: 'Lato', Helvetica;
    font-weight: bolder;
    letter-spacing: 3px;
}

/*body {
  margin: 0 auto;
  padding: 0;
}

span {
  color: red;
  font-family: small-caps 'Allerta Stencil', sans-serif;
}

a{
  text-decoration: none;
  padding-bottom: 5px;
}

#container .ui-state-focus {
  outline: none;
}

#container{
  height:auto;
  overflow:auto;
  padding-bottom: 30px;
}

li {
  padding-left: 0;
  padding-right: 0;
}

.separator{
  background-color: red;
  margin: 0 auto;
  width: 100px;
  height: 3px;
  margin-top: 40px;
}

.coming-soon{
  font: small-caps 50px 'Allerta Stencil', sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 150;
  border-bottom: 1px solid #ccc;
}

.menu {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

nav ul a li {
  display: block;
  text-decoration: none;
  color: #666;
  margin: 0px 0px;
  font: small-caps 20px 'Roboto', sans-serif;
  letter-spacing: 3px;
  padding-top: 15px;
  position: relative;
  display: inline-block;
  float: right;
  width: 150px;
  padding-bottom: 15px;
}

nav ul a li:hover {
  color: red;
  -webkit-box-shadow: inset 0px 0px 5px 0px red;
  -moz-box-shadow: inset 0px 0px 5px 0px red;
  box-shadow: 0px 5px 0px red;
}

nav ul li {
  display: block;
  text-decoration: none;
  color: #E8E8E8;
  margin: 0px 0px;
  letter-spacing: 1px;
  padding-top: 10px;
  position: relative;
  float: right;
  width: 150px;
  position: relative;
}

.nameHomepage li {
  float: left;
  text-align: center;
  width: 190px;
}



.dropdown-toggle{
  display: block;
  text-decoration: none;
  color: #E8E8E8;
  font: small-caps 25px 'Roboto', sans-serif;
  letter-spacing: 3px;
  position: relative;
  display: inline-block;
  float: right;
  width: 150px;
  padding-bottom: 15px;
  padding-top: 5px;
  z-index: 150;
}

.dropdown-toggle:hover{
  color: red;
  -webkit-box-shadow: 0px 0px 5px 0px red;
  -moz-box-shadow: 0px 0px 5px 0px red;
  box-shadow: 0px 5px 0px red;
  cursor: pointer;
}

.dropdown-content{
    position: absolute;
	top: 59px;
	background-color: rgba(0, 0, 0, .7);
	width: 150px;
    padding-bottom: 10px;
}

.dropdownBox .ui-state-focus {
  outline: none;
}

.sublink{
  text-align: center;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.sublink:hover{
  color:red;
  box-shadow: none;
  }
  

#accordion {
  margin: 0 auto;
  margin-top: 0;
  width: 100%;
  position: fixed;
  z-index: 150;
  background-color: rgba(0, 0, 0, .7);
}

.accordion-toggle {
  font: small-caps 25px 'Roboto', sans-serif;
  letter-spacing: 3px;
  padding: 20px;
  margin: 0;
  color: white;
  cursor: pointer;
}

.accordion-toggle:hover{
  color:red;
}

#accordion li:hover{
  color: red;
}

#accordion li {
  font: small-caps 25px 'Roboto', sans-serif;
  letter-spacing: 3px;
  padding: 5px;
  margin: 0;
  color: white;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}

#accordion a li {
  text-decoration: none;
  list-style-type: none;
}

.accordion-content{
  padding-bottom: 10px;
}
.accordion-content a {
  text-decoration: none;
  color: white;
}

.accordion-content a:hover {
  color: red;
}

.fa.fa-bars {
  padding-right: 10px;
}

.fa.fa-chevron-down{
  position: absolute;
  top:90%;
  left: 50%;
  font-size: 40px;
  color: rgba(0,0,0,.7);
}

.fa.fa-chevron-down:hover{
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 40px;
  color: red;
  z-index: 100;
}

.banner {
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("http://i666.photobucket.com/albums/vv28/jordanebranch/bridge_zps14koymf3.jpeg");
  background-size: cover;
  background-position: center;
  overflow:hidden;
  position:relative;
}

.banner h1 {
  color: rgba(0,0,0, .7);
  font-size: 120px;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 150px;
  text-align: center;
  background-color: rgba(225,225,225, .6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: -90px;
  font-family: 'Allerta Stencil', sans-serif;
}


#about h1 {
  font: small-caps 70px 'Allerta Stencil', sans-serif;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 80px;
}

#about p {
  font: 20px 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
  width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
  line-height: 29px !important;
}

.button {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font: small-caps 30px 'Roboto', sans-serif;
  letter-spacing: 3px;
  color: black;
  max-width: 230px;
  padding: 8px;
  margin-bottom: 90px;
  border: solid red;
}

.button:hover {
  background-color: red;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  color: white;
}

#work {
  width: 100%;
  height: auto !important;
  min-height: 600px;
}

#work h1 {
  font: small-caps 70px 'Allerta Stencil', sans-serif;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 10px;
}

.work-text-wrap {
  width: 900px;
  margin: 0 auto;
}

h2 {
  font: 20px 'Roboto', sans-serif;
}

.contain img {
  width: 296px;
  height: 220px;
  display: inline-block;
  float: left;
  padding-top:70px;
}

.image-wrapa {
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  float: right;
}

.image-wrapb,
.image-wrapc {
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  float: right;
  margin-right: 6px;
}

.image-wrapb-pages,
.image-wrapc-pages {
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  margin-right: 6px;
}

.contain a img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1);
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.contain{
    overflow: hidden;
}

.caption{
  color: black;
  font: small-caps 25px 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 1px;
}



#contact {
  width: 100%;
}

.contact-text-wrap ul li a{
  font-size: 18px;
}

.contact-data{
  margin-top: 80px;
  height: auto;
  overflow: auto;
}

#arrow a {
  position: fixed;
  float: right;
  width: 6%;
  right: 0px;
  bottom: 0px;
  font-size: 50px;
  color: black;
  z-index: 99;
}

#arrow a:hover {
  color: red;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

#contact p {
  font: small-caps 25px 'Roboto', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  width: 205px;
  display: inline-block;
  float: left;
  margin: 0 auto;
  border-bottom: solid #666;
  border-width: 1px;
  margin-top: 70px;
}

#contact ul {
  list-style-type: none;
  width: 205px;
  display: inline-block;
  float: left;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: 70px;
}

#contact li {
  font: 16px 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
}

#contact li a {
  font: 16px 'Roboto', sans-serif;
  margin: 0 auto;
  letter-spacing: 0px;
}

.contact-text-wrap {
  width: 900px;
  margin: 0 auto;
}

.fa.fa-linkedin-square,
.fa.fa-twitter-square,
.fa.fa-github-square {
  font-size: 30px;
  padding-right: 10px;
  color: red;
}

#contact a {
  text-decoration: none;
  color: black
}

#contact a:hover {
  text-decoration: none;
  color: red;
}



.portfoliopage {
  font: 70px 'Allerta Stencil', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 110px;
  margin-top: 0px;
  position: relative;
  top: 100px;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  text-align:center;
  padding-top: 15px;
  padding-bottom:40px;
}

#content{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    overflow: auto;
}

.rotate1 {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  padding-left: 20px;
  padding-right: 10px;
}

.rotate2 {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  padding-left: 20px;
  padding-right: 10px;
}

.rotate1.down {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate2.down {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa.fa-cog{
  color: red;
}

.container{
	margin: 0 auto;
	width: 900px;
    padding-bottom: 80px;
}

.unpublishedh1, .publishedh1 {
  font: small-caps 55px 'Roboto', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 50px;
  margin-top: 0px;
  position: relative;
  top: 50px;
  left: 0px;
  color: #393939;
  cursor: pointer;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom:15px;
  text-align: left;
  -webkit-box-shadow:inset 0px 0px 0px 3px red;
  -moz-box-shadow:inset 0px 0px 0px 3px red;
  box-shadow:inset 0px 0px 0px 5px red;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.unpublishedh1:hover, .publishedh1:hover{
  background-color:red;
  color: white;
}

.unpublishedh1:hover .fa.fa-cog, .publishedh1:hover .fa.fa-cog{
  color: white;
}

#unpublished-box .ui-state-focus {
  outline: none;
}

.content-text-wrap{
  width: 900px;
  margin: 0 auto;
}


@media(min-width: 682px) {
  #accordion {
    display: none;
  }
}

@media(max-width: 681px) {
  .accordion-toggle {
    display: block;
  }
  nav {
    display: none;
  }
}


@media(max-width: 916px) {
  .banner h1{
    font-size:90px;
  }
  .unpublishedh1, .publishedh1 {
	  text-align: center;
	}
  .container{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  .menu {
    width: 100%;
  }
  ul {
    width: 100%;
    margin: 0 auto;
  }
  #about p {
    font: 20px 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .contain img {
    margin: 0 auto;
    height: 200px;
    display: inline-block;
  }
  .work-text-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .contact-text-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .about-text-wrap {
    width: 100%;
  }
  .nameHomepage{
    width: 150px;
    margin: 0;
  }
  nav ul a li{
    position: relative;
    display: inline-block;
    float: right;
    width: 150px;
    color: white;
  }
  nav ul li{
    position: relative;
    display: inline-block;
    float: right;
    width: 150px;
    color: white;
  }
  .contact li{
    padding-right: 50px;
  }
  .sublink{
	text-align: left;
  }
  #arrow a {
    display: none;
  }

  .image-wrapa,
  .image-wrapb,
  .image-wrapc {
    margin: 0 auto;
    float: none;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  #contact ul {
    list-style-type: none;
    width: 205px;
    display: block;
    float: left;
    padding-top: 40px;
  }
}

@media(max-width:465px){
  .banner h1{
    font-size: 68px;
  }
}
*/